<div class="row" *ngIf="isLoading">
  <div class="col-md-12">
    <div class="d-flex justify-content-center align-items-center">
      <mat-spinner class="material-spinner" *ngIf="isLoading" ></mat-spinner>
    </div>
  </div>
</div>
<div class="row" *ngIf="!isLoading &&!invalidMovieId">
  <div class="col-md-4 mb-5">
    <img class="img-fluid custom-img-height"
      [src]=imgBaseUrl+movie.posterPath alt="{{ movie.title }}">
    <h1 class="card-title">{{movie.title}}</h1>
  </div>


  <div class="col-md-8">
    <div class="card">
      <div class="card-body">
        <h1 i18n="@@DetailOverviewText">Overview:</h1>
        <p class="card-text">{{movie.overview}}</p>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><strong i18n="@@DetailAdultText">Adult:</strong> {{ movie.adult ? 'Yes' : 'No' }}</li>
          <li class="list-group-item"><strong i18n="@@DetailLangText">Original Language:</strong> {{ movie.originalLanguage }}</li>
          <li class="list-group-item" ><strong i18n="@@DetailPopText">Popularity:</strong> {{ movie.popularity }}</li>
          <li class="list-group-item" ><strong i18n="@@DetailDateText">Release Date:</strong> {{ movie.releaseDate }}</li>
          <li class="list-group-item" ><strong i18n="@@DetailVoteAvgText">Vote Average:</strong> {{ movie.voteAverage }}</li>
          <li class="list-group-item" ><strong i18n="@@DetailVoteCountText">Vote Count:</strong> {{ movie.voteCount }}</li>
        </ul>
      </div>
    </div>
  </div>



</div>



<div *ngIf="invalidMovieId" class="container text-center mt-5">
  <h1 class="display-4">404 - Movie id not Found</h1>
  <p class="lead">Sorry, the movie you are looking for does not exist.</p>
</div>