<div class="row">
    <div class="col-sm-12 col-md-6 main-col">
        <div class="alert alert-danger" *ngIf="error">
        <p>
            {{error}}
        </p>  
        </div>

        <div class="d-flex justify-content-center align-items-center">
        <mat-spinner class="material-spinner" *ngIf="isLoading" ></mat-spinner>
        </div>
        <form
         #authForm="ngForm"
         (ngSubmit)="onSubmit(authForm)"
         *ngIf="!isLoading"
         > 
            <div class="form-group">
                <label for="email"  i18n="@@EmailText">E-mail</label>
                <input
                 type="email"
                id="email" 
                class="form-control"
                ngModel
                name="email"
                required
                email
                #emailInput="ngModel"
                >
            </div>
            <div *ngIf="emailInput.invalid && (emailInput.dirty || emailInput.touched)">
            <p class="invalidEmailText" i18n="@@InvalidEmailText">Invalid email format</p>
            </div>
           
            <div class="form-group">
                <label for="password" i18n="@@PasswordText">Password</label>
                <input 
                type="password"
                id="password" 
                class="form-control"
                ngModel
                name="password"
                required
                minlength="6"
                >
            </div>

            <div>
                <button class="btn btn-dark" [disabled]="!authForm.valid" type="submit" i18n="@@LoginSignupText">{{isLoginMode ?'Log in' :'Sign up'}}</button>
                | 
                <button class="btn btn-dark" (click)="onSwitchMode()" type="button" i18n="@@AuthSwitchText">Switch to {{isLoginMode ?"Sign Up" :"Log in"}} </button>
            </div>
        </form>
    </div>
</div>




